---
ColumnLimit: '75'
PenaltyReturnTypeOnItsOwnLine: '50000'
IndentWidth: '4'
IndentWrappedFunctionNames: 'false'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
SpaceAfterCStyleCast: 'true'
SpaceBeforeParens: ControlStatements
Standard: Cpp11
UseTab: Never
IndentWidth: '4'
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AlwaysBreakAfterReturnType: 'None'
PointerAlignment: 'Left'
BinPackArguments: 'false'
BinPackParameters: 'false'
...
