# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

.vscode
.vscode/*
.directory

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

build/*
!build/.gitkeep

bin/*

tests/build/*
tests/bin/*
!tests/build/.gitkeep

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# ---> VisualStudioCode
.settings

docs/*
!docs/ads_logo.png
!docs/config.conf
!docs/extra_style.css

# clion
cmake-build*
.idea