# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

.vscode/*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

build/*
!build/.gitkeep

tests/build/*
tests/bin/*
!tests/build/.gitkeep

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# ---> VisualStudioCode
.settings


